<div *ngIf="data.status; else failed">
    <h2 mat-dialog-title>Payment Success</h2>
    <mat-dialog-content class="mat-typography">
        <h3 >Thank <span class="font-weight-bold">{{data.creditData.cardHolderName | titlecase}}</span> for using payment service</h3>
        <p>${{data.creditData.amount}} has been debited from account <span class="font-weight-bold">{{data.creditData.cardNumber}}</span> on {{currentDate | date:'medium'}}. Your UPI transaction reference number is <span class="highlight font-weight-bold">{{data.receipt}}</span>.</p>
        <p>Please call on +91 XXXXXXXXXXX to report if this transaction was not authorized by you.</p>
        <p>
            Warm Regards,<br>
            Abhishek
        </p>
    </mat-dialog-content>
</div>

<ng-template #failed>
    <h2 mat-dialog-title>Payment Failed</h2>
    <mat-dialog-content class="mat-typography">
        <h3 >Thank <span class="font-weight-bold">{{data.creditData.cardHolderName | titlecase }}</span> for using payment service</h3>
        <p> If ${{data.creditData.amount}} has been debited from account <span class="font-weight-bold">{{data.creditData.cardNumber}}</span> on {{currentDate | date:'medium'}}, will be refunded back in 24 hours.</p>
        <p>Please call on +91 XXXXXXXXXXX to report if this transaction was not authorized by you.</p>
        <p>
            Warm Regards,<br>
            Abhishek
        </p>
</mat-dialog-content>
</ng-template>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>