<div class="col mt-4 mb-2">
    <mat-form-field class="big-form">
        <mat-icon matPrefix>perm_identity</mat-icon>
        <mat-label>Card Holder Name </mat-label>
        <input type="text" matInput placeholder="Enter Your Name">
      </mat-form-field>
</div>

<div class="col mt-4 mb-2" >
    <mat-form-field class="big-form">
        <mat-icon matPrefix>credit_card</mat-icon>
        <mat-label>Card Number </mat-label>
        <input type="text" matInput placeholder="Enter Card Number">
    </mat-form-field>
</div>
<div class="col mt-4 mb-2">
    <mat-form-field class="small-form">
        <mat-icon matPrefix>date_range</mat-icon>
        <mat-label>Expiry Month</mat-label>
        <input type="text" matInput placeholder="Expiry Month">
    </mat-form-field>
    <mat-form-field class="small-form margin-left-20" >
        <mat-icon matPrefix>date_range</mat-icon>
        <mat-label>Expiry Year</mat-label>
        <input type="text" matInput placeholder="Expiry Year">
    </mat-form-field>
    <mat-form-field class="small-form margin-left-20">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>CVV</mat-label>
        <input type="text" matInput placeholder="CVV">
    </mat-form-field>
</div>
