mat-icon {
    color:#3f51b5 !important;
}

.big-form {
    width: 400px;
}
.small-form {
    width:120px
}
.margin-left-20 {
    margin-left:20px;
}

 .margin-top-bottom {
    margin-bottom: 30px;
    margin-top: 23px;
 }